# ------------------------------------------------------------------------------ #
# Java defaults (https://github.com/github/gitignore/blob/master/Java.gitignore) #
# ------------------------------------------------------------------------------ #

# Package Files #


# ------------------------------------------------------------------------------------------- #
# Eclipse-specific (https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore) #
# ------------------------------------------------------------------------------------------- #
*.pydevproject
# You may want to remove the sharp symbols here if you are using Maven 
#.project
#.classpath

# External tool builders

# Locally stored "Eclipse launch configurations"

# CDT-specific

# PDT-specific

# --------------- #
# Studio-specific #
# --------------- #
.studio/
flows/
target/
**/*.mflow
